<div class="container mt-sm">
  <h2 class="title-lg">
    <%= @questions.count %>
    <%= pluralize(@questions.count, 'question', 'questions') %>
  </h2>
</div>

<% @questions.each do |question| %>
  <div class="mt-sm container">
    <%= render 'question', question: question %>
  </div>
<% end %>
