<div class="container">
  <h2 class="title-lg mb">
    Recently joined
  </h2>

  <div class="users-box">
    <% @users.each do |user| %>
      <%= render partial: 'users/user_avatar', locals: {user: user} %>
    <% end %>
  </div>
</div>

<div class="container mt-sm">
  <h2 class="title-lg">
    Last
    <%= @questions.count %>
    <%= pluralize(@questions.count, 'question', 'questions') %>
  </h2>
</div>

<% @questions.each do |question| %>
  <div class="mt-sm container">
    <%= render 'question', question: question %>
  </div>
<% end %>
