<div class="container">
  <h2 class="title-lg mb">All questions</h2>
  <% @questions.each do |question| %>
    <p class="mb-sm">
      <% if question.hidden? %>
        <%= link_to "Question #{question.id}", question_path(question), class: 'hidden' %>
      <% else %>
        <%= link_to "Question #{question.id}", question_path(question)  %>
      <% end %>
      </p>
  <% end %>
  <p class="mt"><%= link_to 'Create new question', new_question_path, class: 'button button-main' %></p>
</div>
