<div class="container">
  <h2 class="title-lg mb-sm">New question</h2>
  <p class="mb">for <%= link_to "@#{@user.nickname}", user_path(@user) %></p>

  <%= render 'error', question: @question %>

  <%= render 'form', question: @question %>
</div>
