<div class='container text-center mt-lg'>
  <h1 class='title-xxl mb'>500</h1>
  <h2 class='mb title-sm text-bold'>Internal Server Error</h2>
  <p class='mb text-grey text-sm'>The server encountered an internal error or misconfiguration and was unable to complete your request.</p>
  <%= link_to 'Go to Home', root_path, class: 'button button-main text-sm text-bold' %>
</div>