body {
  font-family: 'Trebuchet MS', sans-serif;
  color: #03071e;
}

a, button {
  color: #dc2f02;
}

a.hidden {
  opacity: 50%;
}

.title-question {
  font-family: 'Akronim', cursive;
  font-size: 250px;
  background: -webkit-linear-gradient(#ffba08, #ff00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-lg {
  font-size: 175%;
}

.title-md, .title {
  font-size: 150%;
}

.title-sm {
  font-size: 125%;
}

.text-sm {
  font-size: 80%;
}

.text-grey {
  color: #a0a0a0;
}

.text-red {
  color: #e80312;
}

.text-dark-red {
  color: #730E15;
}

.text-bold {
  font-weight: bold;
}

.ws-pre-line {
  white-space: pre-line;
}

.text-center {
  text-align: center;
}
